In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
data=pd.read_excel(r"C:\Users\m.priyanka\Desktop\hyd dataset.xlsx")

In [14]:
data.head()

,TotalLandSize(Sq.Ft),SlabareaofConstruction,BuildingAge(Years),HouseType,FloorNumber,BHKcount,BathroomsCount,MainDoorFacing,Furnishing,DiningHallAvailability,...,DiningRoom,Kitchen,BHK 1,BHK 2,BHK 3,Bathroom 1,Bathroom 2,Bathroom 3,Balcony,SellingPriceInCr
0,3200,2600,4,independent,1,3,3,East,Fully Furnished,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.60
1,2500,2000,1,independent,1,2,2,East,Semi-furnished,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.35
2,2500,2250,1,independent,1,4,4,North,unfurnished,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.92
3,5771,5350,1,independent,2,8,8,East,unfurnished,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.80
4,3500,3000,3,independent,2,6,6,West,unfurnished,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.55

In [15]:
data.describe()

,TotalLandSize(Sq.Ft),SlabareaofConstruction,BuildingAge(Years),FloorNumber,BHKcount,BathroomsCount,Front - View,LivingRoom,DiningRoom,Kitchen,BHK 1,BHK 2,Bathroom 1,Bathroom 3,Balcony,SellingPriceInCr
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.000000
mean,2711.357143,2442.321429,6.071429,2.321429,3.607143,3.607143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.985000
std,1680.506256,1573.706784,8.348558,2.855191,1.791736,1.685214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.426992
min,540.000000,460.000000,1.000000,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.220000
25%,1383.500000,1100.000000,1.000000,1.000000,2.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.885000
50%,2600.000000,2175.000000,2.500000,1.500000,4.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.575000
75%,3200.000000,2850.000000,6.750000,2.250000,4.000000,4.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000
max,8000.000000,7000.000000,30.000000,15.000000,8.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.500000

In [21]:
train=data.drop(['GardenAvailibility','Front - View','LivingRoom ','DiningRoom','Kitchen','BHK 1','BHK 2','BHK 3','Bathroom 1','Bathroom 2','Bathroom 3','Balcony','SellingPriceInCr'],axis=1)

In [22]:
train.head()

,TotalLandSize(Sq.Ft),SlabareaofConstruction,BuildingAge(Years),HouseType,FloorNumber,BHKcount,BathroomsCount,MainDoorFacing,Furnishing,DiningHallAvailability,ParkingLotAvailability,BalconyAvailability,Locality/Street,City/Town
0,3200,2600,4,independent,1,3,3,East,Fully Furnished,Yes,yes,yes(3),Mallampet,hyderabad
1,2500,2000,1,independent,1,2,2,East,Semi-furnished,No,yes,Yes(1),"Parvatapuram, Peerzadiguda",hyderabad
2,2500,2250,1,independent,1,4,4,North,unfurnished,No,yes,yes(2),"Elephant Enclave, Sathyanarayanapuram, Nagaram",hyderabad
3,5771,5350,1,independent,2,8,8,East,unfurnished,No,yes,yes(2),"Jai Jawan Colony, Kapra",hyderabad
4,3500,3000,3,independent,2,6,6,West,unfurnished,No,yes,yes(2),Ghatkesar,hyderabad

In [26]:
labels=data['SellingPriceInCr']

In [27]:
 from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(train,labels,test_size=0.1,random_state=2)

In [33]:
x_train,x_test=x_train.align(x_test,join='left',axis=1)

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error

In [36]:
x_train.select_dtypes(exclude=['object']).columns

Index(['TotalLandSize(Sq.Ft)', 'SlabareaofConstruction', 'BuildingAge(Years)',
       'FloorNumber', 'BHKcount', 'BathroomsCount'],
      dtype='object')

In [37]:
x_train.select_dtypes(include=['object']).columns

Index(['HouseType', 'MainDoorFacing', 'Furnishing', 'DiningHallAvailability',
       'ParkingLotAvailability', 'BalconyAvailability', 'Locality/Street',
       'City/Town'],
      dtype='object')

In [38]:
numerical_cols = list(x_train.select_dtypes(exclude=['object']).columns)
categorical_cols = list(x_train.select_dtypes(include=['object']).columns)

In [39]:
len(numerical_cols)

6

In [40]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [41]:
imputer = IterativeImputer(max_iter=10, random_state=0)
imputer.fit(x_train[numerical_cols].values)

IterativeImputer(random_state=0)

In [42]:
x_train_mat = imputer.transform(x_train[numerical_cols].values)
x_test_mat = imputer.transform(x_test[numerical_cols].values)

In [43]:
categorical_transformer = SimpleImputer(strategy='most_frequent')
categorical_transformer.fit(x_train[categorical_cols])
x_train_cat = categorical_transformer.transform(x_train[categorical_cols].values)
x_test_cat = categorical_transformer.transform(x_test[categorical_cols].values)

In [44]:
train_x = np.hstack((x_train_mat, x_train_cat))
test_x= np.hstack((x_test_mat, x_test_cat))

In [45]:
train_x

array([[1175.0, 1050.0, 2.0, 4.0, 2.0, 1.0, 'Flat', 'West',
        'Fully Furnished', 'yes', 'yes', 'yes(2)',
        'Sri Chakri Constructions, Siva Sai Puram, Badangpet',
        'hyderabad'],
       [5150.0, 5150.0, 10.0, 3.0, 4.0, 4.0, 'Flat', 'North',
        'Fully Furnished', 'Yes', 'yes', 'yes(2)',
        'Vikrampuri, Karkhana', 'hyderabad'],
       [540.0, 530.0, 6.0, 0.0, 1.0, 1.0, 'independent', 'South-West',
        'unfurnished', 'No', 'yes', 'Yes(1)',
        'ASBESTOS HOUSE, Asad Baba Nagar, Nandi Musalai Guda',
        'hyderabad'],
       [1184.0, 947.0, 1.0, 1.0, 1.0, 2.0, 'independent', 'West',
        'unfurnished', 'yes', 'yes', 'yes(2)',
        'SRS UDAYAGIRI VILLAS, Patancheru', 'hyderabad'],
       [2700.0, 2100.0, 3.0, 1.0, 4.0, 5.0, 'independent', 'West',
        'Semi-furnished', 'Yes', 'yes', 'yes(2)',
        'ASR My Pearls, Gandipet', 'hyderabad'],
       [5771.0, 5350.0, 1.0, 2.0, 8.0, 8.0, 'independent', 'East',
        'unfurnished', 'No', 'yes', 'yes(2)', 'Jai Jawan Colony, Kapra',
        'hyderabad'],
       [1700.0, 1450.0, 1.0, 1.0, 3.0, 3.0, 'independent', 'East',
        'unfurnished', 'Yes', 'yes', 'yes(3)',
        'LANDMARK PATANCHERU, Patancheru', 'hyderabad'],
       [3200.0, 3200.0, 1.0, 1.0, 4.0, 4.0, 'independent', 'East',
        'Semi-furnished', 'Yes', 'yes', 'yes(2)',
        'Jai Jawan Colony, Kapra', 'hyderabad'],
       [3000.0, 2700.0, 4.0, 2.0, 4.0, 4.0, 'independent', 'West',
        'Fully Furnished', 'Yes', 'yes', 'yes(2)', 'Yapral', 'hyderabad'],
       [2700.0, 2300.0, 30.0, 2.0, 5.0, 4.0, 'independent', 'North',
        'Semi-furnished', 'yes', 'yes', 'yes(4)',
        'Jyothi Colony, Karkhana', 'hyderabad'],
       [3500.0, 3000.0, 3.0, 2.0, 6.0, 6.0, 'independent', 'West',
        'unfurnished', 'No', 'yes', 'yes(2)', 'Ghatkesar', 'hyderabad'],
       [1000.0, 885.0, 1.0, 0.0, 2.0, 2.0, 'independent', 'North',
        'unfurnished', 'No', 'yes', 'Yes(1)',
        'Siva Sai Puram, Badangpet', 'hyderabad'],
       [2400.0, 1900.0, 3.0, 1.0, 4.0, 4.0, 'independent', 'West',
        'Semi-furnished', 'Yes', 'yes', 'yes(2)',
        'ASR My Pearls, Gandipet', 'hyderabad'],
       [5000.0, 4800.0, 9.0, 1.0, 4.0, 5.0, 'independent', 'East',
        'Fully Furnished', 'yes', 'yes', 'yes(3)',
        'JJ nagar, Defence Colony, Sainikpuri', 'hyderabad'],
       [2500.0, 2250.0, 1.0, 1.0, 4.0, 4.0, 'independent', 'North',
        'unfurnished', 'No', 'yes', 'yes(2)',
        'Elephant Enclave, Sathyanarayanapuram, Nagaram', 'hyderabad'],
       [2718.0, 2718.0, 1.0, 15.0, 4.0, 4.0, 'Flat', 'East',
        'unfurnished', 'No', 'yes', 'yes(3)',
        'Prestige High Fields, Financial District, Nanakaramguda',
        'hyderabad'],
       [2400.0, 2000.0, 1.0, 1.0, 4.0, 4.0, 'independent', 'East',
        'unfurnished', 'Yes', 'yes', 'yes(2)',
        'NR Infra Ultimus, Rameshwaram Banda', 'hyderabad'],
       [1950.0, 1950.0, 2.0, 2.0, 4.0, 4.0, 'independent', 'West',
        'unfurnished', 'No', 'yes', 'yes(2)',
        'Subhash Nagar, Trimalgherry', 'hyderabad'],
       [560.0, 460.0, 22.0, 2.0, 1.0, 1.0, 'Flat', 'East', 'unfurnished',
        'Yes', 'No', 'yes(2)',
        'Prajay Avenue I and II, Bharat Nagar, Amberpet', 'hyderabad'],
       [3000.0, 2500.0, 30.0, 0.0, 5.0, 5.0, 'independent', 'South-West',
        'Semi-furnished', 'Yes', 'yes', 'yes(3)',
        'Adda Gutta, East Marredpally', 'hyderabad'],
       [8000.0, 7000.0, 15.0, 2.0, 8.0, 6.0, 'independent', 'East',
        'Semi-furnished', 'Yes', 'yes', 'yes(3)',
        'Kalyana puri, Kalyanpuri, Uppal', 'hyderabad'],
       [2800.0, 2800.0, 2.0, 4.0, 4.0, 5.0, 'Flat', 'East',
        'Semi-furnished', 'Yes', 'yes', 'yes(3)',
        'GK Pride, Golf Pride Homes, Yapral', 'hyderabad'],
       [3620.0, 3620.0, 5.0, 5.0, 4.0, 4.0, 'Flat', 'East',
        'Fully Furnished', 'yes', 'yes', 'yes(2)',
        'aashry luxuria, Adda Gutta, East Marredpally', 'hyderabad'],
       [1100.0, 925.0, 1.0, 4.0, 2.0, 2.0, 'Flat', 'North',
        'Fully Furnished', 'yes', 'yes', 'Yes(1)',
        'NMR Aashrith, Turkayamjal', 'hyderabad'],
       [1450.0, 1100.0, 1.0, 1.0, 2.0, 2.0, 'independent', 'North-West',
        'Semi-furnished', 'Yes', 'yes', 'Yes(1)',
        'Parvathapuram, Peerzadiguda', 'hyderabad']], dtype=object)

In [69]:
test_x

array([[2500.0, 2000.0, 1.0, 1.0, 2.0, 2.0, 'independent', 'East',
        'Semi-furnished', 'No', 'yes', 'Yes(1)',
        'Parvatapuram, Peerzadiguda', 'hyderabad'],
       [3200.0, 2600.0, 4.0, 1.0, 3.0, 3.0, 'independent', 'East',
        'Fully Furnished', 'Yes', 'yes', 'yes(3)', 'Mallampet',
        'hyderabad'],
       [1100.0, 1100.0, 9.0, 5.0, 2.0, 2.0, 'Flat', 'West',
        'Semi-furnished', 'yes', 'yes', 'yes(2)',
        'Maram Seshaiah Rathnam Heights, Indira Nagar, Vanasthalipuram',
        'hyderabad']], dtype=object)

In [70]:
train_x_df = pd.DataFrame(train_x, columns = numerical_cols + categorical_cols, index = x_train.index)
test_x_df = pd.DataFrame(test_x, columns = numerical_cols + categorical_cols, index = x_test.index)
train_x_df.head()
test_x_df.head()

,TotalLandSize(Sq.Ft),SlabareaofConstruction,BuildingAge(Years),FloorNumber,BHKcount,BathroomsCount,HouseType,MainDoorFacing,Furnishing,DiningHallAvailability,ParkingLotAvailability,BalconyAvailability,Locality/Street,City/Town
1,2500.0,2000.0,1.0,1.0,2.0,2.0,independent,East,Semi-furnished,No,yes,Yes(1),"Parvatapuram, Peerzadiguda",hyderabad
0,3200.0,2600.0,4.0,1.0,3.0,3.0,independent,East,Fully Furnished,Yes,yes,yes(3),Mallampet,hyderabad
14,1100.0,1100.0,9.0,5.0,2.0,2.0,Flat,West,Semi-furnished,yes,yes,yes(2),"Maram Seshaiah Rathnam Heights, Indira Nagar, ...",hyderabad

In [48]:
train_x_df.isnull().sum().sum()

0

In [49]:
embed_cols=[i for i in categorical_cols]

for i in embed_cols:
    print(i,train_x_df[i].nunique())

HouseType 2
MainDoorFacing 5
Furnishing 3
DiningHallAvailability 3
ParkingLotAvailability 2
BalconyAvailability 4
Locality/Street 23
City/Town 1

In [50]:
train_x_df.dtypes

TotalLandSize(Sq.Ft)      object
SlabareaofConstruction    object
BuildingAge(Years)        object
FloorNumber               object
BHKcount                  object
BathroomsCount            object
HouseType                 object
MainDoorFacing            object
Furnishing                object
DiningHallAvailability    object
ParkingLotAvailability    object
BalconyAvailability       object
Locality/Street           object
City/Town                 object
dtype: object

In [52]:
for col in categorical_cols:
    train_x_df[col] = train_x_df[col].astype(str)
    test_x_df[col] = test_x_df[col].astype(str)

In [53]:
from catboost import CatBoostRegressor

In [112]:
model=CatBoostRegressor(iterations=1000, learning_rate=0.1,  loss_function='RMSE', logging_level='Silent')

In [113]:
model.fit(train_x_df,y_train,cat_features=categorical_cols,eval_set=(test_x_df,y_test),plot=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [74]:
from sklearn.metrics import mean_absolute_error

In [114]:
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error: 0.607646539809298

In [115]:
preds_test = model.predict(test_x_df)

In [116]:
preds_test

array([1.55629551, 1.86930945, 1.42367551])

In [64]:
output = pd.DataFrame({'Id': test_x_df.index,
                       'SalePrice': preds_test})

In [66]:
output.to_csv('submission.csv', index=False)